@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    text-decoration: none;
}

body, html {
    height: 100%;
    flex-direction: column;
    background-color: hsl(47, 88%, 63%);
}

/* global css styles */
body, html,
main,
.card,
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.abt,
.profile p {
    font-size: 14px;
    font-size: 14px;
}

.profile p,
.highlighted-text {
    font-weight: 700;
}

main {
    height: 100%;
}

.card {
    width:250px;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 0.8rem;
    border-radius: 0.3rem;
    box-shadow: rgba(110, 83, 99, 0.574) 0px 5px,  hsl(82, 87%, 56%) 0px 10px, hsl(332, 97%, 42%) 0px 15px, rgba(14, 59, 10, 0.629) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-bottom-right-radius: 30px;
    border-right: 5px solid hsl(82, 74%, 34%);
    border-top-right-radius: 30px;
}

.card:hover {
    transform: rotateY(180deg);
    background-color: #1a0d1e;
    color: hsl(62, 95%, 43%);
    border-bottom-left-radius: 30px;
    border-left: 5px solid hsl(82, 74%, 34%);
    border-top-left-radius: 30px;
  }

.img-container img{
 display: block;
 width: 100%;
 border-radius: 0.3rem;
}

.highlighted-text {
    background-color: hsl(47, 88%, 63%);  
    margin: 10px 0;
    text-align: left;
    width: fit-content;
    padding: 0.2rem 1rem;
    border-radius: 0.2rem;
}

.date {
    font-size: 14px;
    margin-bottom: 13px;
}

.abt {
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    margin-top: 12px;
}


.profile {
    gap: 0.5rem;
    margin-top: 15px;
    justify-content: left;
}

.profile img {
    display: block;
    width: 35px;
    border-radius: 50%;
    border: 1px solid hsl(47, 88%, 63%);
}

footer {
padding: 10px 20px;
}

footer, 
footer a {
    color: hsl(0, 62%, 14%);
}